# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: cuddle-o-tron package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18 
        cache: 'npm'
    - name: Install CDK
      run: npm install -g aws-cdk
    - name: Install Node dependencies
      run: npm install
    - name: Test CDK Node code 
      run: |
        npm run test 
    # Removing this code section for now because I will need to figure out how to get dotenv files loaded into Github actions. 
    #- name: Create build directory
    #  run: |
    #    mkdir build
    #- name: Synth CDK construct as CloudFormation stack 
    #  run: |
    #    cdk synth > build/cloudformation_build.yml
    #- name: Archive cloudformation build
    #  uses: actions/upload-artifact@v3
    #  with:
    #    name: cloudformation-build
    #    path: build/cloudformation_build.yml
